aiohttp==3.9.3
auraloss==0.4.0
black==24.3.0
docstring-parser==0.16
hypy-utils==1.0.22
jsonargparse==4.27.7
librosa==0.10.1
matplotlib==3.7.3
neutone-sdk==1.4.3
pandas==2.2.1
pip-chill==1.0.3
pytorch-lightning==2.2.1
resampy==0.4.3
tensorboard==2.16.2
torchvision==0.16.2
typeshed-client==2.5.1
wandb==0.16.6
